Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
.Trash
.DS_Store
.nvm
.oh-my-zsh
.fzf
.vscode
.console-ninja
.quokka
.zcompdump-*
.zcoredump-*
.npm/*
.cache
.ssh
.wallaby
.CFUserTextEncoding
.dotfiles